In [1]:
import pandas as pd
import numpy as np

In [2]:
used_randInts = pd.read_csv('/Users/vcroopana/Downloads/summer2020/superbowl/randList_2_5_K.csv')
used_randInts = list(used_randInts['random'])

used_randInts_2 = pd.read_csv('/Users/vcroopana/Downloads/summer2020/superbowl/2_randList_2_5_K.csv')
used_randInts_2 = list(used_randInts_2['random'])
used_randInts.extend(used_randInts_2)

used_randInts_3 = pd.read_csv('/Users/vcroopana/Downloads/summer2020/superbowl/3_randList_2_5_K.csv')
used_randInts_3 = list(used_randInts_3['random'])
used_randInts.extend(used_randInts_3)

print(len(used_randInts))

7500

In [4]:
onelakh_tweets = pd.read_csv('/Users/vcroopana/Downloads/summer2020/superbowl/ip/SB2020_tweets_affectivestate.csv')
onelakh_tweets.shape
# onelakh_tweets = pd.read_csv('/Users/vcroopana/Downloads/summer2020/superbowl/ip/affectivestate.csv')
# onelakh_tweets.shape

(111651, 22)

In [4]:
onelakh_tweets.iloc[81579: 81580]

,user_id,tweet_id,tweet_text,ad_mentioned,time_of_tweet,user_location,team followed,affective_state
81579,163339185.0,1.224182e+18,RT @TheRickWilson: That thing when you spend m...,homeland trailer,Mon Feb 03 04:04:46 +0000 2020,NaN,team_49ers,1

In [6]:
onelakh_full = pd.read_csv('/Users/vcroopana/Downloads/summer2020/superbowl/ip/affectivestate.csv')
onelakh_full = onelakh_full.rename(columns = {'tweet_text_full': 'tweet_text'})
onelakh_full_filt = onelakh_full[['user_id', 'tweet_id', 'tweet_text', 'Ad_Name','Description_words']]
print(onelakh_full.shape)
onelakh_full_filt.head(2)

(111651, 22)

,user_id,tweet_id,tweet_text,Ad_Name,Description_words
0,1.000070e+18,1224205226464290000,RT @Ykillz15: 9er fans already on a mission to...,nfl building a better game,"amazon, building, game, services, nfl, charita..."
1,1.000226e+09,1224155949461620000,49ers are the whiniest team in NFL history,nfl building a better game,"amazon, building, game, services, nfl, charita..."

In [69]:
man_ann_3 = pd.read_csv('/Users/vcroopana/Downloads/summer2020/superbowl/3_man_ann_sb.csv')
man_ann_3.head(2)
man_ann_4 = pd.read_csv('/Users/vcroopana/Downloads/summer2020/superbowl/4_man_ann_sb.csv')
man_ann_4.head(2)

,Unnamed: 0,user_id,tweet_id,tweet_text,ad_mentioned,time_of_tweet,user_location,team followed,affective_state
0,82036,1.523268e+09,1224204181491180000,RT @TheRickWilson: That thing when you spend m...,homeland trailer,Mon Feb 03 05:33:16 +0000 2020,portlandia,team_49ers,1
1,6164,1.005953e+08,1224130997702260000,"RT @espn: “Take it to the house, kid!”\n\nThis...",reese s rock,Mon Feb 03 00:42:27 +0000 2020,"Tampa,FL",team_kcchiefs,-1

In [70]:
merged_df = pd.merge(man_ann_4, onelakh_full, on = 'tweet_id', how = 'inner')
print(merged_df.shape)
merged_df = merged_df.rename(columns = {'user_id_x': 'user_id', 'ad_mentioned_x': 'ad_mentioned', 
                                        'user_location_x': 'user_location', 'team followed_x': 'team followed',
                                       'tweet_text_x': 'tweet_text'})
merged_df = merged_df[['Unnamed: 0','user_id', 'tweet_id', 'tweet_text', 'Ad_Name', 'time_of_tweet','Description_words' ]]
merged_df.head(2)

(2456, 30)

,Unnamed: 0,user_id,tweet_id,tweet_text,Ad_Name,time_of_tweet,Description_words
0,82036,1.523268e+09,1224204181491180000,RT @TheRickWilson: That thing when you spend m...,homeland trailer,Mon Feb 03 05:33:16 +0000 2020,"trailer, show, homeland, tv"
1,6164,1.005953e+08,1224130997702260000,"RT @espn: “Take it to the house, kid!”\n\nThis...",reese s rock,Mon Feb 03 00:42:27 +0000 2020,"take5, rock, five, candybar, food, reeses, ree..."

In [73]:
def getRandTweets(n, rangeMax, onelakh_tweets, ad_check):
    seed(1)
    randList = []
    randTweets = pd.DataFrame(columns = onelakh_tweets.columns)
    while(len(randList)< n) :
        randInt = randint(0, rangeMax-1)
        rand_twt = onelakh_tweets.iloc[randInt:randInt+1]
#         print(rand_twt)
        if(randInt not in randList and validTweet(rand_twt, randTweets, ad_check)):
                randList.append(randInt)
                randTweets = randTweets.append(rand_twt)
    return randList, randTweets

randList, randTweets = getRandTweets(44, 111651, onelakh_full_filt, True)
randTweets.head(2)

,user_id,tweet_id,tweet_text,Ad_Name,Description_words
33432,2.456901e+09,1224163524689000000,RT @MichaelSkolnik: Trump has pardoned or comm...,donald j. trump for president criminal justic...,"donald, trumpforpresident, trump, safer, j., r..."
15455,4.432981e+08,1224152686297320000,RT @RapSheet: Tom Brady in his Hulu Sports com...,hulu tom brady s big announcement,"hulu, tom, big, tombrady, service, announcemen..."

In [74]:
res = merged_df.append(randTweets)
res.to_csv('/Users/vcroopana/Downloads/summer2020/superbowl/4_man_ann_sb_full.csv')

In [44]:
from random import seed
from random import randint

def validTweet(tweet, tweet_list, ad_check):
    twt_txt = tweet['tweet_text'].values
#     print(len(twt_txt))
    if( twt_txt not in tweet_list['tweet_text'].values and 'kansas' not in twt_txt[0].lower()):
        if(ad_check and (' commercial' in twt_txt[0].lower() or ' ad' in twt_txt[0].lower() 
                         or ' commercials' in twt_txt[0].lower() or ' ads' in twt_txt[0].lower() 
                         or ' advertisement' in twt_txt[0].lower() 
                         or ' advertisement' in twt_txt[0].lower() )):
            return True
        elif(not ad_check):
            return True
    else:
        return False
    
def getRandInts(used_randInts, n, rangeMax, onelakh_tweets, ad_check):
    seed(1)
    randList = []
    randTweets = pd.DataFrame(columns = onelakh_tweets.columns)
    while(len(randList)< n) :
        randInt = randint(0, rangeMax-1)
        rand_twt = onelakh_tweets.iloc[randInt:randInt+1]
#         print(rand_twt)
        if(randInt not in used_randInts and randInt not in randList and validTweet(rand_twt, randTweets, ad_check)):
                randList.append(randInt)
                randTweets = randTweets.append(rand_twt)
    return randList, randTweets

In [ ]:
# 50% of the cases which mention ad/commercial , 50 % no specifications
# 1000 ad, 750 no ad, 750 
randList_ad, rand_tweets_ad = getRandInts(used_randInts, 1250, onelakh_tweets.shape[0], onelakh_tweets, 
                                          ad_check= True)
used_randInts.extend(randList_ad)
print(len(used_randInts))
randList_no_ad, rand_tweets_no_ad = getRandInts(used_randInts, 1250, onelakh_tweets.shape[0], onelakh_tweets, 
                                          ad_check = False)
used_randInts.extend(randList_no_ad)
print(len(used_randInts))

# append both the dfs
rand_tweets = rand_tweets_ad.append(rand_tweets_no_ad)

# append both the rand lists
randList = randList_ad
randList.extend(randList_no_ad)

randList_df = pd.DataFrame(columns = ['random'])
randList_df['random'] = randList
randList_df.to_csv('/Users/vcroopana/Downloads/summer2020/superbowl/4_randList_2_5_K.csv')
rand_tweets.to_csv('/Users/vcroopana/Downloads/summer2020/superbowl/4_man_ann_sb.csv')
randList_df.head(2)

In [24]:
rand_tweets.shape

(2500, 8)

In [25]:
rand_tweets_uniq = rand_tweets.drop_duplicates(subset ="tweet_text")
rand_tweets_uniq.shape

(2490, 8)

In [15]:
# pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 100000)

In [7]:
on_lah_uniq = onelakh_full_filt.drop_duplicates(subset = 'tweet_text')
on_lah_uniq.shape

(55758, 5)

In [ ]:
########## Extract the tweets remaining after manually annotating from 1.1 lakh tweets ##########

In [34]:
import pandas as pd
onelakh_tweets = pd.read_csv('/Users/vcroopana/Downloads/summer2020/superbowl/ip/SB2020_tweets_affectivestate.csv')
onelakh_tweets.shape

(110735, 8)

In [35]:
folder = '/Users/vcroopana/Downloads/summer2020/superbowl/'
man_ann_4 = pd.read_csv(folder+'4_man_ann_sb_full.csv')
man_ann_3 = pd.read_csv(folder+'3_man_ann_sb_full_1.csv')
man_ann_2 = pd.read_csv(folder+'2_man_ann_sb.csv')
man_ann_1 = pd.read_csv(folder+'mann_ann_sb.csv')

man_ann_data = pd.DataFrame()

man_ann_data = man_ann_data.append(man_ann_4)
man_ann_data = man_ann_data.append(man_ann_3)
man_ann_data = man_ann_data.append(man_ann_2)
man_ann_data = man_ann_data.append(man_ann_1)

print(man_ann_data.shape)

(10000, 21)

In [40]:
index_one_lakh = man_ann_4['Unnamed: 0.1']
index_one_lakh = index_one_lakh.append(man_ann_3['Unnamed: 0.1'])
index_one_lakh = index_one_lakh.append(man_ann_2['Unnamed: 0'])
index_one_lakh = index_one_lakh.append(man_ann_1['Ò'])
# index_one_lakh = index_one_lakh.dropna()

In [41]:
print(index_one_lakh)

0       82036.0
1        6164.0
2       95818.0
3        1202.0
4       99352.0
         ...
2495    65046.0
2496    10135.0
2497    45802.0
2498    28198.0
2499    29354.0
Length: 10000, dtype: float64

In [42]:
remaining_data = pd.DataFrame()
remaining_indices = []
for i in range(onelakh_tweets.shape[0]):
    if i not in index_one_lakh:
        remaining_indices.append(i)
remaining_data = onelakh_tweets.iloc[remaining_indices]

print(onelakh_tweets.shape)
print(remaining_data.shape)
remaining_data.head(2)

(110735, 8)
(108235, 8)

,user_id,tweet_id,tweet_text,ad_mentioned,time_of_tweet,user_location,team followed,affective_state
2500,1.513189e+08,1.224144e+18,They are in Miami ᾓ7ἿD‍♀️,hard rock hotels & casinos bling cup,Mon Feb 03 01:32:15 +0000 2020,DM[V] via Chi City,team_kcchiefs,1
2501,3.775888e+09,1.224144e+18,RT @espn: The 49ers and Chiefs took a moment t...,hard rock hotels & casinos bling cup,Mon Feb 03 01:32:25 +0000 2020,NaN,team_kcchiefs,1

In [45]:
remaining_data.to_csv(folder+'remaining_tweets_non_man.csv')

In [ ]:
{'bud light seltzer  posty store  inside post s brain': 0, 'pepsi zero sugar  zero sugar. done right.': 1, 'budweiser  typical american': 2, 'amazon echo  before alexa': 3, 'genesis  going away party': 4, 'turbotax  turbotax  all people are tax people remix': 5, 'tide  bud knight': 6, 'squarespace  winona in winona': 7, 'tide  finally later': 8, 'hyundai  smaht pahk': 9, 'hulu  tom brady s big announcement': 10, 'fox  halftime show  teaser_1': 11, 'fox nation  breaking news': 12, 'heinz ketchup  find the goodness  four at once': 13, 'google assistant  loretta': 14, 'planters  baby funeral': 15, 'little caesars pizza  best thing since sliced bread': 16, 'fox  super monday': 17, 'facebook  ready to rock?': 18, 'michelob  6 for 6-pack': 19, 'hard rock hotels & casinos  bling cup': 20, 'pringles  the infinite dimensions of rick and morty': 21, 'fox  a run at history  daytona 500': 22, 'avocados from mexico  the avocados from mexico shopping network': 23, 'microsoft surface  be the one': 24, 'fox  toads  the masked singer': 25, 'cheetos  can t touch this': 26, 'new york life  love takes action': 27, 'sabra  how do you  mmus?': 28, 'nfl  inspire change  anquan boldin': 29, 'walmart  famous visitors': 30, 'amazon prime video  hunters': 31, 'toyota  heroes': 32, 't-mobile  mama tests 5g': 33, 'nfl  building a better game': 34, 'pop-tarts  pop-tarts fixed the pretzel commercial': 35, 'mountain dew': 36, 'donald j. trump for president  criminal justice reform': 37, 'no time to die  trailer': 38, 'rocket mortgage  home': 39, 'quibi  bank heist': 40, 'michelob  jimmy works it out': 41, 'snickers  fix the world': 42, 'kia  tough never quits': 43, 'fox  great american race': 44, 'discover card  yes we’re accepted': 45, 'procter & gamble  when we come together': 46, 'reese s  rock': 47, 'hummer  gmc  quiet revolution': 48, 'verizon  the amazing things 5g won t do': 49, 'fox  halftime show  teaser_2': 50, 'weathertech  lucky dog': 51, 'audi  let it go [t1]': 52, 'jeep  groundhog day [t1]': 53, 'fox  chosen  lego masters': 54, 'olay  make space for women': 55, 'coca-cola energy  show up': 56, 'doritos  the cool ranch': 57, 'marvel  black widow trailer': 58, 'disney+  it s time': 59, 'porsche  the heist': 60, 'none': 61}

In [46]:
######## check for the categories given #############

In [52]:
# remaining_data_classd = pd.read_csv(folder+'app_1_multi_class_no_man_ann.csv')
remaining_data_classd = pd.read_csv(folder+'app_4_multi_class_no_man_ann.csv')

n_ad_related = remaining_data_classd['ad_related'].sum()
print("n_ad_related:"+ str(n_ad_related))

reqd_ads = {'marvel  black widow trailer':0 ,'rocket mortgage  home':0 , 
            'olay  make space for women':0 , 'hard rock hotels & casinos  bling cup':0 ,
            "homeland trailer":0 , "microsoft surface  be the one":0}

for i,row in remaining_data_classd.iterrows():
    ad = row['ad_predicted']
    if ad in reqd_ads:
        reqd_ads[ad] = reqd_ads[ad]+1
print(reqd_ads)

n_ad_related:13650
{'marvel  black widow trailer': 0, 'rocket mortgage  home': 53, 'olay  make space for women': 0, 'hard rock hotels & casinos  bling cup': 0, 'homeland trailer': 0, 'microsoft surface  be the one': 0}

In [53]:
print("n_ad_related:"+ str(n_ad_related))

n_ad_related:13650